@model Recycle.Models.RecyclableItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RecyclableItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecyclableType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecyclableType.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComputedRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputedRate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
